* {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    transition: 0.4s ease;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    --bg-color1: #faf8f5;
    --bg-color2: #eeeae5;
    --bg-color3: #e9e1d9;
    --text-black: #111111;
    --text-black-light: #3f3f3f;
    --text-white: #faf8f5;
    --text-white-light: #cecece;
    --input-border: #f1f1f1;
    --green1: #264224;
    --green2: #1a3d18;
}

.darkmode {
    --bg-color1: #1b1b1b;
    --bg-color2: #252525;
    --bg-color3: #1f1f1f;
    --text-black: #faf8f5;
    --text-black-light: #dedede;
    --text-white: #111111;
    --text-white-light: #1a1a1a;
    --input-border: #00122a;
    --green1: #264224;
    --green2: #507914;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 15%;
    background-color: var(--bg-color1);
}

.header-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: var(--green1);
    padding: 5px;
    border-radius: 50%;
}

.header-title-box {
    display: flex;
    align-items: center;
}

.header-title h1 {
    color: var(--text-black);
    font-size: 1rem;
}
.header-title  p {
    color: var(--text-black-light);
    font-size: 0.8rem;
}

.navigation-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 5px;
}

.navigation a {
    text-decoration: none;
    color: var(--text-black);
    font-size: 0.9rem;
    padding: 8px 10px;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s ease;
}

.navigation a:hover,nav a.active {
    background: color-mix(in srgb, var(--green1) 10%, transparent);
    color: var(--green1);
}

.dark-mode-toggle {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    background-color: var(--bg-color2);
    transition: filter 0.2s, color 0.2s, transform 0.2s ease;
}

.dark-mode-toggle:hover {
    transform: scale(110%);
    filter: invert(1);
}

.darkmode .dark-mode-toggle:hover {
    filter: invert(1) brightness(2);

}

.profile-div {
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--green1);
    padding: 5px;
    border-radius: 50%;
}

#profile-pic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

footer {
    background-color: var(--bg-color1);
}

.footer-top {
    background-color: var(--bg-color1);
    padding: 20px 15%;
}

.footer-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-boxes h3 {
    text-align: center;
    color: var(--text-black);
    font-size: 1rem;
}

.footer-boxes a {
    
    text-decoration: none;
    color: var(--text-black-light);
    font-size: 1rem;
    transition: color 0.2s ease;
    line-height: 1;
}

.footer-boxes div {
    width: 100%;
    display: flex;
    color: var(--text-black-light);
    gap: 20px;
    justify-content: space-between;
}

.footer-boxes div p{
    justify-content: center;
    font-size: 0.75rem;
}

.footer-image-header-box {
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.footer-image-header-box img {
    margin-right: -10px;
    width: 50px;
    height: 50px;
    background-color: #264224;
    padding: 5px;
    border-radius: 50%;
}

footer hr {
    border: none;
    border-top: 1px solid #b5b5b5;
    background-color: #041225;
    margin: 0 15%;
}

.footer-bottom {
    background-color: var(--bg-color1);
    padding: 20px 10%;
    display: flex;
    justify-content: center;
    color: var(--text-black-light);
}


@media (max-width: 900px) {
    * {
        /* background-color: rgba(90, 218, 103, 0.201); */
    }

    .header-container {
        padding: 0.5% 2vw;
    }

    .header-title p{
        display: none;
    }

    /* footer{
        height: 5vh;
    }

    .footer-boxes h3 {
        color: var(--text-black);
        font-size: 1rem;
    } */
}

@media (max-width: 725px){
    * {
        /* background-color: rgba(218, 90, 90, 0.201); */
    }

    .header-container {
        padding: 0.5% 10px;
    }

    .header-title{
        display: none;
    }

    .header-logo{
        width: 50px;
        height: 50px;
    }

    .navigation a {
        font-weight: 600;
    }

}