* {
    font-family: Arial, sans-serif;
}

:root {
    --bg-color: #ffffff;
    --bg-color2: #f2f2f2;
    --text-black: #000000;
    --text-white: #ffffff;
    --input-border: #cccccc;
    --green1: #1e7c2b;

}

.darkmode {
    --bg-color: #000000;
    --bg-color2: #333333;
    --text-black: #ffffff;
    --text-white: #000000;
    --input-border: #666666;
    --green1: #1e7c2b;
}


body{
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    /* gap: 50vw; */
    
}
h1{
    text-align: center;
    padding-bottom: 30px ;
}

.signUp ,.logIn{
    border-radius: 5px;
    background-color: var(--bg-color2);
    padding: 20px;
    height: max-content;
    width: 20vw;
    min-width: 300px;
}

#signUp, #logIn {
    display: none; 
}

#signUp.active, #logIn.active { display: block; }
label {
    font-size: 12px;
    display: block;
    margin-left: 5px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border-color: var(--green1);
}

input[type=text]::placeholder, input[type=password]::placeholder {
    opacity: 0.5;
}

#passinputcon {
    position: relative;
    padding: 0px;
}

#ShowPassButton {
    position: absolute;
    right: 3%;
    top: 29%;
    width: 24px;
    height: 24px;
    cursor: pointer;

    background-color: #999;
    mask: url(../art/eye.svg) no-repeat center;
    -webkit-mask: url(../art/eye.svg) no-repeat center;
}

.showpass #ShowPassButton {
    background-color: #1e7c2b;
}

input[type=button] {
    background-color: var(--input-border);
    color: var(--text-white);
    padding: 7px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
  width: 100%;
  background-color: var(--green1);
  color: var(--text-white);
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button{
    border: none;
    background-color: var(--green1);
    color: var(--text-white);
    border-radius: 4px;
    padding: 5px 10px;
}